.show-product{
    padding: 10px;
    background-color: #F1DA7D;
    position: sticky;
    top: 0;
}
.show-product h3{
    text-align: center;
}
.show-product p{ color: red;}
.choose, .clear{
    padding: 10px;
    display: block;
    background-color: #F56903;
    border-radius:  7px;
    border: none;
    margin-bottom: 10px;
    color: #fff;
    

}